phonegap/platforms/
phonegap/plugins/
phonegap/www/css/
phonegap/www/fonts/
phonegap/www/img/
phonegap/www/js/
phonegap/www/spec/
phonegap/www/spec.html
phonegap/www/res/
phonegap/www/views/
phonegap/icon.png
/phonegap/zip*
phonegap/www/index.html
phonegap/npm-debug.log
bower_components/
build/node_modules
build.zip
sass/
test/
.idea/
.tmp/
.sass-cache/
dist/
phonegap/.vs/
orange-for-clarins.iml